* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #181818;
    color: azure;
}

header {
    padding: 20px 35px;
    display: flex;
    background-color: #181818;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-items: flex-end;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin-left: 6%;
    font-size: 36px;
}

header nav {
    margin: 7px 6% 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 28px;
    text-decoration: none;
    color: azure;
}

.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    color: azure;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.hero h1 {
    font-size: 58px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 24px;
    width: 60%;
}

.about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    margin: 50px auto;
}


.about h2 {
    font-size: 48px;
    width: 88%;
    text-align: center;
    border-bottom: 5px solid white;
    margin: 0 25px 6% 6%;
    padding-bottom: 10px;
}

.about-img {
    width: 30%;
    margin-right: 12%;
    margin-left: 12%;
}

.about-img img {
    max-width: 100%;
}

.about-text {
    background-color: #254e58;
    height: 100%;
    justify-content: flex-end;
    width: 30%;
    margin-right: 12%;

}

.my-projects h2 {
    font-size: 48px;
    width: 88%;
    text-align: center;
    border-bottom: 5px solid white;
    margin: 0 25px 6% 6%;
    padding-bottom: 10px;
}

.projects {
    text-align: center;
}

.project {
    margin: 10px 12% 30px 12%;
    width: 76%;
    background: #254e58;
    padding: 0;
}

.project-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
}

.project-1-img {
    grid-row: 1/ span 2;
    grid-column: 1/ span 2;
    width: 100%;
}

.project-1-img img {
    width: 36%;
}

.project-1-text {
    grid-row: 2/ span 3;
    grid-column: 2;
}

.project-1-demo {
    grid-row: 1;
    grid-column: 3;
}

.project-1-code {
    grid-row: 2;
    grid-column: 3;
}

.project-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
}

.project-2-img {
    grid-row: 1/ span 2;
    grid-column: 2/ span 3;
    width: 100%;
}

.project-2-img img {
    width: 36%;
}

.project-2-text {
    grid-row: 1/ span 2;
    grid-column: 1;
}

.project-2-demo {
    grid-row: 1;
    grid-column: 2;
}

.project-2-code {
    grid-row: 2;
    grid-column: 2;
}

.project-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
}

.project-3-img {
    grid-row: 1/ span 2;
    grid-column: 1/ span 2;
    width: 100%;
}

.project-3-img img {
    width: 36%;
}

.project-3-text {
    grid-row: 2/ span 3;
    grid-column: 2;
}

.project-3-demo {
    grid-row: 1;
    grid-column: 3;
}

.project-3-code {
    grid-row: 2;
    grid-column: 3;
}

.contact h2 {
    font-size: 48px;
    text-align: center;
    border-bottom: 5px solid white;
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #181818;
}

.contact {
    background: #254e58;
    padding-bottom: 25px;
    margin: 0 6% 0 6%;
}

.contact-form {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 25px;
    width: 91%;
}

.contact-form input, .contact-form textarea {
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color:  rgba(255, 255, 255, .75);
    width: 175%;
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.contact-form button {
    border: none;
    background: green;
    border-radius: 10px;
    color: azure;
    text-align: center;
    padding: 8px 0;
    font-size: 16px;
}

.contact-form button:hover {
    color: chocolate;
    background: cornsilk;
}

